@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(135deg, #84fab0, #8fd3f4);*/
  height: 100%;
  padding: 20px;
}

.signup-card {
  background: #fff;
  padding: 30px 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.signup-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.signup-card input {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  border: 1px solid #bbb;
  border-radius: 4px;
  transition: border-color .3s;
}

.signup-card input:focus {
  border-color: #84fab0;
  outline: none;
}

.signup-card button {
  width: 100%;
  padding: 12px;
  background: #D25D5D;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background .3s;
}

.signup-card button:hover {
  background: #D25D5D;
}

.error {
  background: #ffe0e0;
  color: #a00;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

.form-heading {
  font-size: 23px;
  /* Heading prominence */
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  color: green;
}

.signup-card input,
.signup-card button {
  font-size: 16px;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  width: 100%;
  box-sizing: border-box;
}

.signup-text {
  font-size: 14px;
  text-align: center;
  margin-top: 1rem;
}

.signup-link {
  text-decoration: none;
  color: blue;
  font-weight: 600;
}


/*css code for password inputs for managing the react icon */
.password-field-wrapper {
  width: 100%;
}

.input-container {
  position: relative;
  width: 100%;
  border: none;
}

.password-input {
  width: 100%;
  padding-right: 2.5rem;
  /* Make space for the icon */
  box-sizing: border-box;
  border: none;
 
}

.toggle-icon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

.input-container.error .password-input {
  border: 1px solid red;
  border: none;

}

.error-message {
  margin-top: 4px;
  color: red;
  font-size: 0.875rem;
}


.password-input:focus {
  outline: none;
  border-color: initial; /* or apply your own style */
}


