.table-responsive {
  overflow-x: auto;
}

.custom-table,
.custom-table thead,
.custom-table tbody,
.custom-table th,
.custom-table td,
.custom-table tr {
  display: block;
}

.custom-table th,
.custom-table td {
  text-align: left;
  padding: 8px;
  white-space: nowrap;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
